#news_banner {
	font-size: 0;
	width: 100%;
}
#news_banner img {
	width: 100%;
	height: auto;
}
.title {
	margin: 0 -28px 50px 0;
	padding-top: 66px;
}
.title h2 {
	font-size:30px;
	color: #0099ff;
	margin-bottom: 13px;
}
.title h3 {
	font-weight: 100;
	font-size:24px;
	color: #000;
	margin-bottom: 30px;
}
#news_content {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
#news_content ul {
	border: 1px solid #d9d9d9;
	border-bottom: none;
	margin-bottom: 40px;
}
#news_content ul li {
	text-align: left;
	padding: 29px 0;
	border-bottom: 1px solid #d9d9d9;
}
#news_content ul li:after {
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
#news_content ul li img {
	float: left;
	width: 220px;
	height: 135px;
}
#news_content ul li div {
	padding: 15px 0 0 32px;
	float: left;
	width: 887px;
}
#news_content ul li div h2 {
	margin-bottom: 10px;
}
#news_content ul li div a {
	color: #333333;
	font-size: 18px;
}
#news_content ul li div p {
	font-size: 14px;
	color: #999999;
	margin-bottom: 24px;
	text-indent: 2em;
	line-height: 22px;
}
#news_content ul li div div {
	width: 100%;
	padding: 0;
}
#news_content ul li div div p {
	margin-bottom: 0;
	float: left;
	font-size: 12px;
	padding-left: 34px;
	background: url(../images/news/news_eye.png) 1px center no-repeat;
}
#news_content ul li div div span {
	font-size: 12px;
	float: right;
	padding-right: 17px;
	color: #999999;
}
#news_content  .fany  {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	border: 0;
}
#news_content  .fany li {
	width: 39px;
	border: 1px solid #d9d9d9;
	height: 39px;
	float: left;
	margin-right: 8px;
	padding: 0;
	text-align: center;
}
#news_content  .fany li:hover {
	background: #0099cc;
}
#news_content  .fany li:hover a {
	color: #fff;
}
#news_content  .fany li a {
	font-size: 14px;
	color: #333333;
	line-height: 39px;
	background: none;
}